[tool.poetry]
name = "finance-tracker-bot"
version = "0.1.0"
description = "A Telegram bot to manage your personal finances"
authors = ["edoardob90 <edoardob90@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.9.4"
certifi = "^2021.10.8"
charset-normalizer = "^2.0.12"
google-auth = "^2.6.3"
google-auth-oauthlib = "^0.5.1"
greenlet = "^1.1.2"
gspread = "^5.3.2"
idna = "^3.3"
numpy = "^1.22.3"
oauthlib = "^3.2.0"
pandas = "^1.4.2"
psycopg2 = "^2.9.3"
ptbcontrib = {git = "https://github.com/python-telegram-bot/ptbcontrib.git", rev = "907070d129b7cf80b0236d72fb498667b5b22b63"}
pyasn1 = "^0.4.8"
pyasn1-modules = "^0.2.8"
python-dateutil = "^2.8.2"
python-dotenv = "^0.20.0"
pytz = "^2022.1"
pytz-deprecation-shim = "^0.1.0"
requests = "^2.27.1"
requests-oauthlib = "^1.3.1"
rsa = "^4.8"
six = "^1.16.0"
SQLAlchemy = "^1.4.35"
tornado = "^6.1"
tzdata = "^2022.1"
tzlocal = "^4.2"
urllib3 = "^1.26.9"
cachetools = "^4.2.2"
python-telegram-bot = "^13.11"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
